# Exclude everything by default
/*

# Include only what's needed for the CLI
!cli/
!package.json
!LICENSE
!README.md

# Include specific cli files
!cli/bin/
!cli/dist/
!cli/src/
!cli/package.json

# Exclude cli node_modules
cli/node_modules/
